[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
argh = "==0.26.2"
argon2-cffi = "==21.1.0"
astor = "==0.8.1"
astunparse = "==1.6.3"
atomicwrites = "==1.4.0"
backcall = "==0.2.0"
"backports.weakref" = "==1.0.post1"
bcrypt = "==3.2.0"
bkcharts = "==0.2"
black = "==19.10b0"
bleach = "==4.1.0"
blinker = "==1.4"
boto = "==2.49.0"
Bottleneck = "==1.3.2"
brotlipy = "==0.7.0"
certifi = "==2020.12.5"
cffi = "==1.14.6"
clyent = "==1.2.2"
conda = "==4.10.3"
conda-build = "==3.21.4"
conda-verify = "==3.4.2"
contextlib2 = "==0.6.0.post1"
cycler = "==0.10.0"
cytoolz = "==0.11.0"
debugpy = "==1.5.1"
defusedxml = "==0.7.1"
distro = "==1.6.0"
docker = "==5.0.2"
dockerpty = "==0.4.1"
docopt = "==0.6.2"
entrypoints = "==0.3"
et-xmlfile = "==1.0.1"
fastcache = "==1.1.0"
future = "==0.18.2"
gmpy2 = "==2.0.8"
h5py = "==2.10.0"
HeapDict = "==1.0.1"
ipykernel = "==6.4.2"
ipython = "==7.29.0"
ipywidgets = "==7.6.5"
jdcal = "==1.4.1"
jedi = "==0.18.0"
json5 = "==0.9.5"
jupyter = "==1.0.0"
jupyter-client = "==7.0.6"
jupyter-console = "==6.4.0"
jupyterlab-pygments = "==0.1.2"
jupyterlab-widgets = "==1.0.2"
llvmlite = "==0.36.0"
locket = "==0.2.1"
MarkupSafe = "==1.1.1"
matplotlib-inline = "==0.1.3"
mccabe = "==0.6.1"
mistune = "==0.8.4"
mkl-fft = "==1.3.0"
mkl-service = "==2.3.0"
mpmath = "==1.2.1"
multipledispatch = "==0.6.0"
mypy-extensions = "==0.4.3"
navigator-updater = "==0.2.1"
nbclient = "==0.5.4"
nbconvert = "==6.2.0"
nbformat = "==5.1.3"
nest-asyncio = "==1.5.1"
notebook = "==6.4.5"
numpy = "==1.21.3"
olefile = "==0.46"
pandas = "==1.3.4"
pandocfilters = "==1.5.0"
paramiko = "==2.7.2"
parso = "==0.8.2"
pathspec = "==0.7.0"
patsy = "==0.5.1"
pep8 = "==1.7.1"
pickleshare = "==0.7.5"
pkginfo = "==1.7.0"
ply = "==3.11"
prometheus-client = "==0.12.0"
prompt-toolkit = "==3.0.21"
protobuf = "==3.17.2"
ptyprocess = "==0.7.0"
pyasn1-modules = "==0.2.8"
pycosat = "==0.6.3"
pycparser = "==2.20"
pycurl = "==7.43.0.6"
Pygments = "==2.10.0"
pyodbc = "===4.0.0-unsupported"
pyparsing = "==2.4.7"
pytest = "==6.2.3"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.0"
pytz = "==2021.3"
PyYAML = "==5.4.1"
pyzmq = "==22.3.0"
QDarkStyle = "==2.8.1"
qtconsole = "==5.1.1"
QtPy = "==1.11.2"
requests-oauthlib = "==1.3.0"
scikit-image = "==0.18.1"
Send2Trash = "==1.8.0"
simplegeneric = "==0.8.1"
sip = "==4.19.13"
tables = "==3.6.1"
tensorboard-plugin-wit = "==1.6.0"
termcolor = "==1.1.0"
terminado = "==0.12.1"
testpath = "==0.5.0"
texttable = "==1.6.4"
tifffile = "==2020.10.1"
tornado = "==6.1"
unicodecsv = "==0.14.1"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
websocket-client = "==0.59.0"
widgetsnbextension = "==3.5.2"
wrapt = "==1.12.1"
xlwt = "==1.3.0"
xmltodict = "==0.12.0"
zict = "==2.0.0"
"zope.event" = "==4.5.0"
grpcio = "*"
grpcio-tools = "*"

[dev-packages]

[requires]
python_version = "3.8"
